.stock {
    color: rgba(255, 255, 255, 0.8);
    font-size: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 250ms;
    animation: fade-in 1s forwards;
}

.stock.active {
    background-color: rgba(255, 255, 255, 0.5);
}

.stock:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.stock .name {
    font-size: 120%;
}

.stock .company-name {
    color: rgba(255, 255, 255, 0.6);
}

.stock .trend.negative {
    color: rgb(240, 116, 102);
}

.stock .trend.positive {
    color: rgb(66, 207, 113);
}