.empty-label {
  font-size: 90%;
}

.status-bar.border-bottom {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
  
.side-panel {
  background-color: rgb(35, 43, 65);
  color: rgb(255, 255, 255);
}

.main-area {
  background-color: rgb(30, 35, 49);
}

input {
  background-color: transparent;
  border: none;
  transition: 500ms;
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}