@keyframes slide-in {
    from { transform: translateX(100px); }
    to { transform: translateX(0); }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotate-in {
    from { transform: rotateX(90deg); }
    to { transform: rotateX(0deg); }
}

@keyframes skew-out {
    from { transform: skew(10deg, 10deg); }
    to { transform: skew(0deg, 0deg); }
}

.box {
    background-color: rgb(32, 39, 58);
    height: 98%;
    max-width: 26% !important;
    min-width: 320px !important;
    transition: 500ms;
}

.box:focus {
    outline: none;
}

.box.selected {
    outline: 3px solid rgba(233, 217, 70, 0.747);
}

.box .header {
    background-color: rgb(43, 53, 80);
    font-size: 80%;
}

.box .header i {
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
    transition: 250ms;
}

.box .header i:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.box .table-headers {
    background-color: rgb(52, 63, 88);
    z-index: 9999;
}

.box .table-headers div {
    padding: 5px 0;
    font-size: 75%;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.box .content {
    height: 90%;
}

.box .scroll-area {
    max-height: 85%;
    overflow: auto;
}

.box .scroll-area.lower .data-row {
    top: 36px;
}

.box .scroll-area .list-title {
    font-size: 80%;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(38, 45, 70);
    z-index: 9999;
}

.box .content .scroll-area {
    max-height: 98%;
}

.box table {
    color: rgba(255, 255, 255, 0.5);
}

.box table thead th {
    position: sticky;
    top: 0;
    padding: 5px 10px !important;
    font-size: 75%;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(38, 45, 70);
}

.box table tbody {
    font-size: 70%;
}

.box table tbody tr {
    cursor: pointer;
    transition: 250ms;
}

.box table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

.box table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 1);
}

.box table tbody tr td {
    padding: 5px 0;
    animation: fade-in 1s forwards;
}

.box table tbody tr td .type {
    color: rgba(0, 0, 0, 0.8);
    font-size: 80%;
}

.box table tbody tr td.buy {
    color: rgb(240, 116, 102);
}

.box table tbody tr td.sell {
    color: rgb(66, 207, 113);
}

.box .data-row {
    font-size: 75%;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.1) !important;
    transform: translateX(100px);
    animation: slide-in 1s forwards;
    transition: 250ms;
}

.box .data-row i {
    font-size: 140%;
}

.box .data-row i.sell {
    color: rgb(46, 136, 51) !important;
}

.box .data-row i.buy {
    color: rgb(219, 112, 62) !important;
}

.box.headlines .data-row {
    animation: rotate-in 1s forwards;
}

.box .data-row:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

.box .data-row .secondary {
    font-size: 90%;
    color: rgba(255, 255, 255, 0.3);
}

.box .alert {
    font-size: 90%;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgb(52, 63, 88);
    color: rgba(255, 255, 255, 0.8);
    border-color: transparent;
    opacity: 0.8;
    transition: 250ms;
    animation: skew-out 500ms forwards;
}

.box .alert:hover {
    opacity: 1;
}

.box .alert .fas.fa-times {
    right: 15px;
    top: 35%;
    transition: 250ms;
}

.box .alert i:not(.fas.fa-times) {
    font-size: 90%;
    width: 25px;
}