.btn.single {
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 65% !important;
}

.btn.single:hover {
    background-color: rgba(83, 189, 231, 0.171) !important;
    color: rgb(70, 159, 233) !important;
    border-color: rgb(70, 159, 233) !important;
}

.btn.single.danger:hover {
    background-color: rgba(224, 58, 58, 0.212) !important;
    color: rgb(231, 75, 75) !important;
    border-color: rgb(231, 75, 75) !important;
}

.btn.single:active {
    background-color: rgb(70, 159, 233) !important;
    color: rgb(255, 255, 255) !important;
}