.button-group .btn {
    font-size: 80% !important;
    background-color: rgb(54, 66, 99) !important;
    border-color: rgb(54, 66, 99) !important;
}

.button-group .btn:active {
    background-color: rgba(0, 0, 0, 1) !important;
}

.button-group .btn.active {
    background-color: rgb(26, 27, 34) !important;
    border-color: rgb(26, 27, 34) !important;
    border-bottom-color: rgb(70, 159, 233) !important;
}