.chart {
    height: 50vh;
}

.chart .graph {
    height: 75%;
    border-color: transparent !important;
    border-width: 3px !important;
    transition: 500ms;
}

.chart .graph.selected {
    border-color: rgb(70, 159, 233) !important;
}

.chart .company-info.border-left {
    border-left: 1px solid rgba(255, 255, 2555, 0.2) !important;
}

.chart .company-info {
    height: 95%;
    margin-top: -52px;
}

.chart .company-info .content {
    max-height: 92%;
    font-size: 90%;
    line-height: 1.8;
    overflow: auto;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.chart .tab {
    color: rgba(255, 255, 2555, 0.5);
    border: 1px solid rgba(255, 255, 2555, 0.2);
    transition: 250ms;
}

.chart .tab:hover {
    background-color: rgba(255, 255, 2555, 0.1);
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.5);
}

.chart .tab.active {
    background-color: rgba(255, 255, 2555, 0.1);
    color: rgb(70, 159, 233);
    border-color: rgb(70, 159, 233);
}

@media screen and (min-height: 1024px) {
    .chart {
        height: 52vh;
    }
}