.help.slid-down {
    transform: translateY(0);
}

.help.slid-up {
    transform: translateY(-350px);
}

.help {
    top: 100px;
    right: 25%;
    width: 45%;
    background-color: rgb(54, 66, 99);
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-350px);
    transition: 500ms;
    z-index: 9999;
}

.help:focus {
    outline: none;
}

.help .fas.fa-times {
    right: 15px;
    top: 15px;
    font-size: 90%;
    cursor: pointer;
    transition: 250ms;
}

.help .fas.fa-times:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.sections.border-bottom {
    border-color: rgb(70, 159, 233) !important;
}

.section {
    transition: 250ms;
}

.section.border {
    border-color: transparent !important;
}

.section.text-reset {
    color: rgba(255, 255, 255, 0.8) !important;
}

.section.active {
    background-color: rgba(70, 160, 233, 0.233);
    color: rgb(70, 159, 233) !important;
    border: 1px solid rgb(70, 159, 233);
}

.section:hover:not(.active) {
    color: rgba(255, 255, 255, 1) !important;
}