.index {
    color: rgba(255, 255, 255, 0.8);
    font-size: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 250ms;
}

.index.active {
    background-color: rgba(255, 255, 255, 0.5);
}

.index:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.index .name {
    font-size: 140%;
}

.index .current {
    font-size: 125%;
}

.index .trend {
    font-size: 110%;
}

.index .trend.negative {
    color: rgb(240, 116, 102);
}

.index .trend.positive {
    color: rgb(66, 207, 113);
}