* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.8) !important;
  font-family: 'Open Sans' !important;
}

main {
    background-color: rgb(27, 32, 49);
}

.empty-label {
  font-size: 90%;
}
